.box
  .box-header
    .box-header-title
      = tm(Client, :title)
      %span.box-header-count.text-muted= @clients.length > 0 ? @clients.length : ''
    = link_to new_modal_clients_path, class: "btn btn-primary", remote: true do 
      = fa_icon(:plus)
      = tc(:new)
  .box-body
    %table
      %thead
        %tr
          %th.text-muted ID
          %th.text-muted= tm(Client, :name)
          %th.text-muted= tm(Client, :client_type)
          %th.text-muted.text-center= tm(Client, :status)
          %th.text-muted.text-center= tm(Client, :country)
          -# %th.text-muted= tm(Client, :city)
          %th.text-muted= tm(Client, :inn)
          %th.text-muted= tm(Client, :ogrn)
          %th.text-muted= tm(Client, :phone)
          %th.text-muted= tm(Client, :email)
          %th.text-muted= tm(Interaction, :title)
          -# %th.text-muted= tm(Client, :source)
          -# %th= tm(Client, :comment)
      %tbody#clients-list
        - @clients.each do |client|
          %tr.client-row{ data: { client_id: client.id } }
            %td.text-muted= client.id
            %td= client.name
            %td= client.client_type_name
            %td.text-center= client.status_name
            %td.text-center= client.country
            -# %td= client.city
            %td= client.inn
            %td= client.ogrn
            %td= client.phone
            %td= client.email
            %td
              = client.interactions.length > 0 ? client.interactions.length : ''
            -# %td= client.source
            -# %td= client.comment

#client-modal-outer