.box
  .box-header
    .box-header-title
      = tm(Client, :title)
      %span.box-header-count.text-muted= @clients.length > 0 ? @clients.length : ''
    = link_to new_modal_clients_path, class: "btn btn-primary", remote: true do 
      = fa_icon(:plus)
      = tc(:new)
  .box-body
    %table
      %thead
        %tr
          %th= tm(Client, :name)
          %th= tm(Client, :phone)
          %th= tm(Client, :email)
          %th= tm(Client, :status)
          %th= tm(Client, :source)
          %th= tm(Client, :comment)
      %tbody#clients-list
        - @clients.each do |client|
          %tr.client-row{ data: { client_id: client.id } }
            %td= client.name
            %td= client.phone
            %td= client.email
            %td= client.status
            %td= client.source
            %td= client.comment

#client-modal-outer